@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*color palette
#123524
#3E7B27
#85A947
#EFE3C2
#F8F3D9
#EBE5C2
#B9B28A
#504B38
*/

:root{
    --base-clr: #123524;
    --line-clr: indigo;
    --secondarybase-clr: lavenderblush;
    --text-clr: #222533;
    --accent-clr: #EFE3C2;
    --secondary-text-clr: #123524;
    --placeholder-text-clr:#3E7B27;
}

*{
    margin:0;
    padding:0;
}

html{
font-family: Lexend;
line-height: 1.5rem;
}

body{
    color:var(--text-clr);
    background: #123524;
}

.background{
    width:100%;
    height:100vh;
    background: url('images/mangrove-login.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(12px);
    transition: .7s ease;
}

.verify-container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:30%;
    min-height:200px;
    background: var(--accent-clr);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    padding:3em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.verify-container .content-header{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:10px 0;
    flex-shrink: 1;
}

.verify-container .content-mesg{
    padding:10px 0;
    flex:1;
}

.content-mesg h3, .content-mesg p{
    line-height: 1.5em;
}

.content-mesg h3{
    text-align: center;
    margin-bottom: 10px;
}

.content-mesg h4{
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
}

.verify-container .input-box{
    flex-grow:1;
    width:100%;
    padding:10px 0;
    display: flex;
    flex-direction: column;
}

.verify-container button{
    padding:10px;
    background: var(--base-clr);
    color: azure;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    transition: .3s ease;
}

.returnbtn button{
    position: absolute;
    top:20px;
    left:20px;
    letter-spacing: 2px;
    color:azure;
    font-weight: 500;
    width:80px;
    height:45px;
    background: var(--base-clr);
    border: none;
    outline:none;
    border-radius: 12px;
    cursor: pointer;
    font-size:16px;
    box-shadow: 0 3px 0 0 rgba(0,0,0);
}

.returnbtn button:hover{
    background-color:var(--placeholder-text-clr);
}

.returnbtn button:active{
    background-color:var(--placeholder-text-clr);
    transform: translateY(3px);
    box-shadow: none;
}